@import './breakpoints.scss';

.home-wrapper {
    display: flex;
    flex-direction: column;

    .header-wrapper {
        display: flex;
        flex-direction: column;
        position: sticky;
        padding: 20px 0px;
        top: 0;
        width: 100%;
        background-color: white;
        -webkit-box-shadow: 0px 3px 3px 0px rgba(150, 144, 150, 1);
        -moz-box-shadow: 0px 3px 3px 0px rgba(150, 144, 150, 1);
        box-shadow: 0px 3px 3px 0px rgba(150, 144, 150, 1);

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .menu-title {
                text-decoration: none;
                color: black;
            }

            .title-bar {
                display: flex;
                flex: 1;
                flex-direction: row;
                align-items: center;
                margin-left: 20px;

                @include media('<480px') {
                    display: flex;
                    flex: 1.5;
                }

                .title-bar-logo {
                    margin-right: 10px;
                    .img-logo {
                        height: 70px;
                        width: 55px;
                    }
                }

                .title-bar-txt {
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    .title-bar-txt-1 {
                        font-size: 18px;
                        color: #0d461b;
                        font-weight: 600;

                        @include media('<480px') {
                            font-size: 14px;
                        }
                    }

                    .title-bar-txt-2 {
                        font-size: 18px;
                        color: #9e0b0b;
                        font-weight: 600;

                        @include media('<480px') {
                            font-size: 14px;
                        }
                    }
                }
            }

            .menu-bar {
                display: flex;
                flex: 1;
                @include media('<=tablet') {
                    justify-content: flex-end;
                    display: flex;
                    flex: 0.5;
                }

                .main-menu {
                    display: flex;
                    flex: 1;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    font-size: 16px;
                        @include media('<=tablet') {
                            display: none;
                        }
                    }

                .burger-menu {
                    align-self: center;
                    margin-right: 20px;
                    @include media('>tablet') {
                        display: none;
                    }
                }
            }
        }

        .header-burger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .header-burger-menu {
                margin: 10px 30px;
                text-decoration: none;
                color: black;
            }

            @include media('>tablet') {
                display: none;
            }
        }
    }


    .body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #1c7c93;
        background-image: linear-gradient(#1c7c93, #033750);
        // margin-top: 100px;

        .banner {
            width: 100%;
            max-height: 300px;
            object-fit: cover;
            object-position: center;
        }

        .section-1 {
            display: flex;
            flex-direction: column;
            padding: 20px;
            // width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .welcome-txt {
                color: white;
                font-size: 24px;
                text-align: center;
            }

            .menu-layanan {
                display: flex;
                flex-direction: row;
                flex-grow: 1;
                justify-content: center;
                width: 75vw;
                flex-wrap: wrap;
                flex-basis: 40%;
                align-items: center;
            }
        }

        .section-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: url('../assets/img_section2.png');
            background-size: cover;
            width: 100%;
            height: 900px;
            padding: 0px;
            margin: 0px;

            @include media('<tablet') {
                height: auto;
            }

            .section2-guide {
                display: flex;
                flex-direction: row;
                align-items: center;

                @include media('<tablet') {
                    display: flex;
                    flex-direction: column;
                }

                .line-arrow-guide {
                    height: 5px;
                    width: 150px;
                    background: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 60px;

                    @include media('<tablet') {
                        display: none;
                    }
                }
            }

            .section2-ytcard {
                margin: 70px 0px;

                .ytcard-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-color: white;
                    border-radius: 10px;
                    padding: 16px;
                    width: 500px;

                    @include media('<tablet') {
                        width: auto;
                        margin: 0px 20px;
                        display: flex;
                        flex-direction: column;
                    }

                    .yt-thumbnail {
                        width: 150px;
                        border-radius: 10px;
                    }

                    .ytcard-content {
                        display: flex;
                        flex-direction: column;
                        margin: 10px;

                        @include media('<tablet') {
                            align-items: center;
                        }

                        .ytcard-txt-title {
                            font-size: 18px;
                            font-weight: 700;
                            text-align: left;

                            @include media('<tablet') {
                                text-align: center;
                            }
                        }

                        .ytcard-txt-subtitle {
                            font-size: 16px;
                            font-weight: 500;
                            text-align: left;
                            display: flex;
                            align-items: center;
                            @include media('<tablet') {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        .section-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;

            .section3-txt-desc {
                color: white;
                max-width: 65%;
                text-align: justify;
                font-size: 18px;
                line-height: 40px;
                align-self: center;

                @include media('<tablet') {
                    max-width: 80%;
                }
            }
        }
    }

    .footer {
        height: 350px;
        background-color: white; /*Default bg, similar to the background's base color*/
        background-image: url('../assets/img_bg_footer.png');
        background-size: auto 100%;
        background-position: right; /*Positioning*/
        background-repeat: no-repeat; /*Prevent showing multiple background images*/
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media('<tablet') {
            height: auto;
        }

        .footer-section1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0px 50px 0px 30px;

            @include media('<tablet') {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .footer-section1-content1 {
                display: flex;
                flex-direction: column;
                text-align: left;
                flex: 1.5;
                justify-content: flex-start;
                padding: 0px 50px 0px 0px;
                // max-width: 30%;
            }

            .footer-section1-content2 {
                display: flex;
                flex-direction: column;
                flex: 1;
                justify-content: flex-start;
                text-align: left;
            }

            .footer-section1-content3 {
                display: flex;
                flex-direction: column;
                flex: 1;
                justify-content: flex-start;
                text-align: left;

                .icon-sosmed {
                    width: 30px;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }

            .footer-content-title {
                font-size: 20px;
                font-weight: 700;
                @include media('<tablet') {
                    margin-bottom: 5px;
                }
            }

            .footer-content-subtitle {
                font-size: 16px;

                @include media('<tablet') {
                    margin-top: 0px;
                }
            }
        }

        .footer-section2 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 16px;
            text-align: center;

            @include media('<tablet') {
                font-size: 14px;
                margin: 15px;
            }
        }
    }
}

.modal-menu-layanan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    outline: none;

    .modal-arrow {
        margin: 0px 40px;
        cursor: pointer;

        @include media('<tablet') {
            margin: 0px 10px;
        }
    }

    .modal-menu-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        /* width */
        ::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 5px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        .modal-menu-logo {
            position: absolute;
            top: 0;
            width: 100px;
            height: 100px;
            border-radius: 75px;
            background-color: white;
            padding: 20px;
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media('<tablet') {
                width: 50px;
                height: 50px;
            }

            .modal-menu-img {
                width: 80px;

                @include media('<tablet') {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        .modal-btn-close {
            width: 20px;
            background-color: white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: flex-end;
            margin-bottom: 20px;
            padding: 4px;
            cursor: pointer;
        }

        .modal-menu-desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 8px;
            padding: 75px 50px 0px 50px;

            @include media('<tablet') {
                padding: 40px 20px 0px 20px;
            }

            .modal-txt-title {
                font-size: 24px;
                font-weight: 700;
                text-align: start;
                align-self: flex-start;

                @include media('<tablet') {
                    font-size: 16px;
                }
            }

            .modal-txt-desc-wrapper {
                max-height: 250px;
                overflow: auto;
                text-align: start;
                align-self: flex-start;
                width: 100%;

                .modal-txt-desc {
                    font-size: 18px;
                    line-height: 40px;
                    text-align: start;
                    align-self: flex-start;

                    @include media('<tablet') {
                        font-size: 14px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}
